* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eff1ff;
  font-family: 'Palanquin', sans-serif;
}

:root {
  font-size: 62.5%;
}

/* mobile ---------------------------------------------------------------------*/
.container {
  margin: 0 auto;
}

/* header --------------------------------------------------------------------*/
header {
  background-color: #8e9aaf;
  display: grid;
  place-items: center;
  width: 100%;

  animation: topdown 700ms 350ms forwards;
}

#logo {
  padding: 3.8rem;
  transition: transform 300ms;
}

#logo:hover {
  transform: scale(1.2);
}

.title {
  width: 100%;
  background-color: #cbc0d3;
  margin-bottom: 2.9rem;
  padding: 1.5rem;
  text-align: center;
}

h1 {
  font-size: 4rem;
  color: #ffffff;
  font-weight: 500;
  letter-spacing: 1rem;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

h1,
span {
  font-family: 'Staatliches';
  text-transform: uppercase;
  letter-spacing: 0.08rem;
  line-height: 3.4rem;
}

.intro-desktop {
  display: none;
}

/* main --------------------------------------------------------------------*/
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3.8rem 3.2rem 4rem;

  animation: downtop 700ms 350ms forwards;
}

.text {
  width: 31.5rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.7rem;
  text-align: center;
  letter-spacing: 0.07rem;

  color: #23053a;
}

.cards {
  display: grid;
  grid-gap: 2.2rem;
  margin: 5rem 0 5rem;
}

.card {
  position: relative;
}

.card span {
  position: absolute;

  font-size: 1.7rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
  color: #4a4e69;
  background-color: #feeafa;
  border-radius: 3rem;
  width: 11rem;
  top: 1.3rem;
  right: 0.9rem;
  padding: 0.2rem;
  text-align: center;
}

.card {
  transition: transform 300ms;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  max-width: 100%;
  object-fit: cover;
  height: auto;
  border-radius: 2rem;
}

/* footer -----------------------------------------------------------------*/
.footermobile {
  display: none;
}

/* @keyframes --------------------------------------------------------------------*/
@keyframes topdown {
  0% {
    opacity: 0;
    transform: translateY(-15px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes downtop {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }

  100% {
    opacity: 1;
    transform: translateY(px);
  }
}

/* @media-desktop -------------------------------------------------------------*/
@media (min-width: 900px) {
  :root {
    font-size: 0.4rem;
  }

  .container {
    display: flex;
    margin: 0;
    height: 100vh;
  }

  /* header ------------------------------------------------------------------*/
  header {
    display: flex;
    flex-direction: column;
    max-width: 62rem;
  }

  #logo {
    width: 28rem;
    margin: 1rem auto;
  }

  h1 {
    font-size: 4.8rem;
    line-height: 3.4rem;
    padding: 1.2rem;
  }

  .intro-desktop {
    display: flex;
    width: 48rem;

    padding: 3rem 7rem 8rem;
    color: #ffffff;
    text-align: center;
    font-size: 1.8rem;
    line-height: 2.5rem;
    letter-spacing: 0.02rem;
  }

  /* main --------------------------------------------------------------------*/
  main {
    margin: 0 auto;
  }

  .text {
    display: none;
  }

  .cards {
    display: grid;
    margin-top: 10rem;
    gap: 3rem;
    grid-template-areas:
      'A B C'
      'D B E'
      'D F E';
  }

  .cards .card:nth-child(1) {
    grid-area: A;
  }

  .cards .card:nth-child(2) {
    grid-area: B;
  }

  .cards .card:nth-child(3) {
    grid-area: C;
  }

  .cards .card:nth-child(4) {
    grid-area: D;
  }

  .cards .card:nth-child(6) {
    grid-area: E;
  }

  .cards .card:nth-child(5) {
    grid-area: F;
  }

  .card span {
    display: none;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 0.2rem;
    color: #4a4e69;
    background-color: #feeafa;
    border-radius: 3rem;
    width: 11.5rem;
    top: 1.8rem;
    right: 1.8rem;
    padding: 0.2rem;

    text-align: center;
  }

  .card img {
    max-width: 36rem;
  }

  /* footer -----------------------------------------------------------------*/
  .footermobile {
    display: block;
    text-align: center;
    font-size: 2rem;
    line-height: 2.8rem;
    letter-spacing: 0.2rem;
    margin-top: 7rem;
  }
}
